
@{
    ViewData["Title"] = "Microservice control panel";
}


<div class="container" id="divTable" style="margin-top:100px">
    <div>
        <button data-bind="click: getState" title="Refresh state">
            <img src="~/images/Refresh.gif" />
        </button>
    </div>
    <table class="table table-sm table-condensed table-bordered table-responsive table-hover"  id="tbStatus">
        <thead>
            <tr class="tableHeader" data-bind="foreach: viewModel.state">
                <th  data-bind="text: friendlyName"></th>
            </tr>
        </thead>
        <tbody>

            <tr data-bind="foreach: viewModel.state">
                <td data-bind="dateString: value, datePattern: 'MM/DD/YYYY hh:mm:ss', style: {color: valueColor}"></td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <button id="btnFreeze" class="btn-primary" data-bind='click: freeze, text: freezeButtonText(),css: freezeButtonCss()'></button>
    </div>

    <div id="dvState"></div>

</div>

@section Scripts {


    <script src="~/js/knkMSModel.js"></script> 
    <script src="~/js/knk_hlp.js"></script>

    <script>

        $(document).ready(function () {

            var mc = new MCSState('@Url.Action("GetStatus", "Home")','@Url.Action("Freeze", "Home")');
            mc.getState();

        });

    </script>
}
